ul {
  list-style-type: none;
}

.body {
  display: flex;
  flex-direction: row;
}

.bar {
  border: black 1px solid;
}

.progress {
  background-color: green;
  height: 20px;
}

.column {
  display: inline-flex;
  flex-direction: column;
  height: 90vh;
  width: 15vw;
}

.game {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 55vw;
}

.commentator {
  display: inline-flex;
  flex-direction: column;
  height: 90vh;
  width: 25vw;
}

.avatar {
  border: black 1px solid;
  border-radius: 50%;
  width: 50px;
}

.comments {
  overflow-y: scroll;
  height: 100%;
  border: black 1px solid;
  padding: 10px 0;
}

.comment {
  border-bottom: black 1px solid;
}

.inline {
  display: inline;
}

.border {
  border: black 1px solid;
  padding: 20px;
}

.ready {
  margin: 2px 10px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.ready-status-red {
  background-color: red;
}

.ready-status-green {
  background-color: greenyellow;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.center {
  margin: auto;
}
